<!DOCTYPE html>

<html layout:decorate="~{th/layout}"> <!-- layout.html 상속 -->

<div layout:fragment="content">
  <div class="title_line">메뉴 수정</div>
  <aside class="aside_right">
    <a th:href="@{|/th/menu/list_all|}">목록</a>
    <span class="menu_divide">|</span>
    <a th:href="@{|/th/menu/delete/${menuVO.menuno}|}">삭제</a>
    <span class="menu_divide">|</span>
    <a th:href="@{|/th/menu/create|}">등록</a>
    <span class="menu_divide">|</span>
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  
  <div class="menu_line"></div>
  
  <div style="width: 50%; margin: 0 auto;">
    <form name="frm" method="post" action="/th/menu/update" th:object="${menuVO}" enctype="multipart/form-data">
      
      <!-- 메뉴 번호 -->
      <div>
        <label>메뉴 번호</label>
        <input type="number"
               name="menuno"
               class="form-control"
               style="width: 50%;"
               th:field="*{menuno}"
               placeholder="메뉴 번호"
               readonly />
      </div>
      
      <!-- 메뉴 이름 -->
      <div style="margin-top: 10px;">
        <label>메뉴 이름</label>
        <input type="text"
               name="name"
               class="form-control"
               style="width: 100%;"
               th:field="*{name}"
               autofocus="autofocus"
               placeholder="메뉴 이름 입력" />
      </div>
      
      <!-- 메뉴 설명 -->
      <div style="margin-top: 10px;">
        <label>메뉴 설명</label>
        <textarea name="explanation"
                  rows="4"
                  class="form-control"
                  style="width: 100%;"
                  th:field="*{explanation}"
                  placeholder="메뉴 설명 입력"></textarea>
      </div>
      
      <!-- 가격 -->
      <div style="margin-top: 10px;">
        <label>가격</label>
        <input type="number"
               name="price"
               min="0"
               step="1000"
               class="form-control"
               style="width: 50%;"
               th:field="*{price}"
               placeholder="가격 입력" />
      </div>
      
      <!-- 사진 업로드 -->
      <div style="margin-top:10px;">
        <label>메뉴 이미지</label>
        <!-- 파일 선택 필드 추가 -->
        <input type="file" 
               name="photoMF" 
               class="form-control" 
               style="width:100%;" />
      </div>
      
      <!-- 식당 번호 -->
      <div style="margin-top: 10px;">
        <label>식당 번호</label>
        <input type="number"
               name="storeno"
               min="1"
               class="form-control"
               style="width: 50%;"
               th:field="*{storeno}"
               placeholder="식당 번호 입력" />
      </div>
      
      <div class="content_body_bottom" style="margin-top: 20px;">
        <button type="submit" class="btn btn-secondary btn-sm">저장</button>
        <button type="button"
                onclick="location.href='/th/menu/list_all'"
                class="btn btn-secondary btn-sm">취소</button>
      </div>
    </form>
  </div>
  
  <!-- 목록 프래그먼트 삽입 -->
  <div th:replace="~{th/menu/list_all_com::list_all_fragment}"></div>
</div>
</html>
