<!DOCTYPE html>
<html layout:decorate="~{th/layout}">
<div layout:fragment="content">
  <div class="title_line">설문조사 등록</div>
  <aside class="aside_right">
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>

  <div class="menu_line"></div>
  <div style="width: 50%; margin: 0px auto;">
    <form name="frm" method="post" action="/th/survey/create" enctype="multipart/form-data" th:object="${surveyVO}">
      <div>
        <label>설문 제목</label>
        <input type="text" name="topic" autofocus="autofocus" class="form-control" style="width: 100%;" th:field="*{topic}">
        <div th:if="${#fields.hasErrors('topic')}" class="alert alert-danger">
          <div th:each="err: ${#fields.errors('topic')}" th:text="${err}"></div>
        </div>
      </div>
      <div>
        <label>시작 날짜</label>
        <input type="date" name="startdate" class="form-control" style="width: 50%;" th:field="*{startdate}">
      </div>
      <div>
        <label>종료 날짜</label>
        <input type="date" name="enddate" class="form-control" style="width: 50%;" th:field="*{enddate}">
      </div>
      <div>
        <label>포스터</label>
        <input type="file" name="posterFile" class="form-control">
      </div>
      <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="button" onclick="location.href='/th/survey/list'" class="btn btn-secondary btn-sm">목록</button>
      </div>
    </form>
  </div>
</div>
</html>
