<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>회원(관리자 전용)</div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span> 
    <a href='./create'>회원 가입</a>
    <span class='menu_divide' >│</span> 
    <a href='./list'>목록</a>
  </aside> 
  
  <div th:replace="~{member/list_search_com::list_search_fragment}"></div>
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 5%;'/>
      <col style='width: 10%;'/>
      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
      <col style='width: 5%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'> </TH>
      <th class='th_bs'>ID</th>
      <th class='th_bs'>성명</th>
      <th class='th_bs'>전화번호</th>
      <th class='th_bs'>주소</th>
      <th class='th_bs'> </th>
    </tr>
   
    <tr th:each="memberVO, status:${list}">
      <td class='td_basic'>
        <div>
          <div th:if="${memberVO.grade >= 1 and memberVO.grade <= 9}"><img src='/member/images/admin.png' title="관리자" class="icon"></div>
          <div th:if="${memberVO.grade >= 10 and memberVO.grade <= 19}"><img src='/member/images/user.png' title="회원" class="icon"></div>
          <div th:if="${memberVO.grade >= 30 and memberVO.grade <= 39}"><img src='/member/images/pause.png' title="정지 회원" class="icon"></div>
          <div th:if="${memberVO.grade >= 50 and memberVO.grade <= 59}"><img src='/member/images/x.png' title="탈퇴 회원" class="icon"></div>
        </div>
      </td>
      <td class='td_left'><a th:href="@{|./admin_read?memberno=${memberVO.memberno}|}" th:text="${memberVO.id}"></a></td>
      <td class='td_left'><a th:href="@{|./admin_read?memberno=${memberVO.memberno}|}" th:text="${memberVO.name}"></a></td>
      <td class='td_basic' th:text="${memberVO.tel}"></td>
      <td class='td_left'>
        <span th:if="${memberVO.address1 != null and #strings.length(memberVO.address1) > 15}" 
              th:text="|${#strings.substring(memberVO.address1, 0, 15)}...|"></span>
        <span th:if="${memberVO.address1 != null and #strings.length(memberVO.address1) <= 15}" 
              th:text="${memberVO.address1}"></span>
        <span th:if="${memberVO.address1 == null}">주소 없음</span>
      </td>
      <td class='td_basic'>
        <a th:href="@{|./delete?memberno=${memberVO.memberno}|}"><img src='/member/images/delete.png' title='삭제' class="icon"></a>
      </td>

      
    </tr>
  </table>
  
  <!-- 페이지 버튼 목록 출력 시작 -->
   <div class="Bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 -->
  

</div>
</html>