<!DOCTYPE html>

<html layout:decorate="~{th/layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${storeVO.category}" class="title_line_text"></span >
    > <span th:text="${storeVO.storename}" class="title_line_text"></span >
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/store/create?itemno=${storeVO.itemno}|}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_storeno?storeno=${storeVO.storeno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_storeno_grid?storeno=${storeVO.storeno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
  </aside> 

  <div class='menu_line'></div>
       
  <div style='width: 100%;'> <!-- 갤러리 Layout  시작 -->
    <div th:if="${list.size() > 0}" th:each="storeVO, status:${list}" 
         th:attr="onclick=|location.href='/store/read?storecno=${storeVO.storecno}&word=${word}&now_page=${now_page}'|"
         style='width: 24%; height: 205px; float: left; margin: 0.5%; padding: 0.5%; background-color: #EEEFFF; text-align: left; cursor: pointer;'>

      <div th:if="${storeVO.image.endsWith('jpg') or storeVO.image.endsWith('png') or storeVO.image.endsWith('gif')}"
             style="width: 100%; height: 100px;">
        <img th:src="@{|/store/storage/${storeVO.thumb1}|}" style="width: 100%; height: 100%;">
      </div>

      <div th:if="${((storeVO.image.endsWith('jpg') or storeVO.image.endsWith('png') or storeVO.image.endsWith('gif')) == false) and (storeVO.size1 > 0)}"
             style="width: 100%; height: 100px;">
        <span th:text="${storeVO.image}"></span>
      </div>

      <div th:if="${storeVO.size1 == 0}" style="width: 100%; height: 100px;">
        <img src="/store/images/none1.png" style="width: 100%; height: 100%;">
      </div>
      
      <div>
        <span th:if="${storeVO.storename.length() > 16 }" 
                  th:text="|${storeVO.storename.substring(0, 16) }...|" style="font-weight: bold;"></span>
        <span th:if="${storeVO.storename.length() <= 16 }" 
                  th:text="|${storeVO.storename}|" style="font-weight: bold;"></span>
        <br>
        
        <span th:if="${storeVO.content.length() > 36 }" 
                  th:text="|${storeVO.content.substring(0, 36) }...|"></span>
        <span th:if="${storeVO.content.length() <= 36 }" 
                  th:text="|${storeVO.content}|"></span>
      </div>
      
      <div style="width: 100%; text-align: right;">♡</div>
      
    </div>
    
    <div th:if="${list.size() == 0}" style="text-align: center; padding: 50px 0px;">
      <span>관련 글이 등록되지 않았습니다.</span>
    </div> 
  </div>  <!-- 갤러리 Layout  종료 -->
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>
