<!-- /* 
<div th:replace="~{storegood/list_all_com::list_all_fragment}"></div> 
'/storegood/list_all_com.html' 파일의 list_all_fragment를 가져다 사용
*/ -->
<div th:fragment="list_all_fragment"> 
  <table class="table table-hover" style="width: 100%;">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>    
      <col style='width: 30%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">등록일(추천일)</th>
        <th class="th_bs">음식점 번호</th>
        <th class="th_bs">회원 번호</th>
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="storegoodVO, status:${list}">
        <td class="td_bs" th:text="|${status.index+1}|"></td>
        <td class="td_bs" th:text="${storegoodVO.rdate.substring(0, 10)}"></td>
        <td class="td_bs" th:text="${storegoodVO.storeno}"></td>
        <td class="td_bs" th:text="${storegoodVO.memberno}"></td>
        <td class="td_bs">
          <a href="#" th:onclick="'delete_good(event, ' + ${storegoodVO.storegoodno} + ');'"><img src="/th/storegood/images/delete.png" class="icon" title="삭제"></a>
        </td>
      </tr>
    </tbody>
  </table>
  <script>
    function delete_good(e, storegoodno) {
      let sw = confirm(storegoodno + '번 추천을 삭제하시겠습니까?\n삭제하면 복구할 수 없습니다.');
      if (sw == true) {
        document.querySelector('#storegoodno').value = storegoodno;
        document.querySelector('#frm').submit();
      }
    }
  </script>  
  <form name='frm' id='frm' method='post' action='/th/storegood/delete'>
    <input type='hidden' name='storegoodno' id='storegoodno'>
  </form>
</div>
