<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>카테고리 조회</title>
</head>
<body>
<h1>카테고리 조회</h1>
<p>번호: <span th:text="${cateVO.cateno}"></span></p>
<p>카테고리 그룹: <span th:text="${cateVO.genre}"></span></p>
<p>카테고리명: <span th:text="${cateVO.name}"></span></p>
<p>출력 순서: <span th:text="${cateVO.seqno}"></span></p>
<p>출력 모드: <span th:text="${cateVO.visible}"></span></p>
<p>등록일: <span th:text="${#dates.format(cateVO.rdate, 'yyyy-MM-dd')}"></span></p>

<a th:href="@{/cate/list_all}">목록</a>
<a th:href="@{/cate/update(cateno=${cateVO.cateno})}">수정</a>
<a th:href="@{/cate/delete(cateno=${cateVO.cateno})}">삭제</a>
</body>
</html>
