<div th:fragment="navbarFragment">
  <div class="top_menu_img">
    <div class="top_menu_label">이지하조 Ver1</div>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
              <li class="nav-item">
                <a class="nav-link" th:href="@{/notice/list}">공지사항</a>
              </li>
            
              <li class="nav-item dropdown" th:if="${session.grade != null and session.grade <= 9}">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                  role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자">                                                             
                  </a>
              
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="nav-item"><a class="nav-link" th:href="@{|/member/list|}">회원목록</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{|/loginlog/list|}">로그인 내역</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{|/authentication/form|}">메일 보내기</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{|/sms/form|}">문자 보내기</a></li>
                  </ul>
              
              </li>
              
              <li class="nav-item">
                <a class="nav-link" th:href="@{/th/store/list}">음식점 리스트</a>
               </li>
               
               <li class="nav-item">
                <a class="nav-link" th:href="@{/th/survey/list}">설문조사</a>
               </li>

              <li class="nav-item">
                <span th:if="${session.token == null}"><a class="nav-link" th:href="@{/member/login}" th:text="'로그인'"></a></span>
              </li>
              
              <li class="nav-item">
                <span th:if="${session.token == null}"><a class="nav-link" th:href="@{|/member/signup|}">회원가입</a></span>
              </li>
              <li class="nav-item">
                <span th:if="${session.token != null}"><a class="nav-link" href="/member/profile" th:text="@{|프로필|}"></a></span>
              </li>
              <li class="nav-item">
                <span th:if="${session.token != null}"><a class="nav-link" href="/member/logout" th:text="@{|${session.id} 로그아웃|}"></a></span>
              </li>
            </ul>
        </div>
    </div>  
  </nav>
</div>