/* 전체 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 전체 컨테이너 */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 100px auto 0;
  text-align: center;
}

/* 입력 필드 */
.input-field {
  position: relative;
  border-bottom: solid #B7B7B7 1px;
}

.input-field input {
  font-size: 20px;
  color: #222222;
  width: 100%;
  height: 50px;
  border: none;

  background: none;
  z-index: 5;
}

.input-field input::placeholder {
  color: #aaaaaa;
}

.input-field input:focus {
  outline: none;
}

.input-field span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

.input-field label {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all .2s;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 12px;
  bottom: 45px;
  color: #666;
  font-weight: bold;
}

.input-field input:focus ~ span,
.input-field input:valid ~ span {
  width: 100%;
}

/* 예시 텍스트 */
.input-field span {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

/* 에러 메시지 */
.error {
  color: #d9534f;
  font-size: 14px;
  margin-top: 10px;
}


/* span과 submit 버튼에 영향을 주는 스타일 */

/* 정보 텍스트 */
.info-text {
  display: block; /* 한 줄로 표시되도록 설정 */
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* 정책 텍스트 */
.policy-text {
  display: block; /* 한 줄로 표시되도록 설정 */
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* 제출 버튼 */
.submit-button {
  display: inline-block;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #357ABD;
}