<!DOCTYPE html>
<html layout:decorate="~{th/layout}">
  <div layout:fragment="content">
    <div class="title_line">음식점 상세 정보</div>

    <div class="menu_line"></div>

    <div style="width: 60%; margin: 0px auto;">
      <table class="table">
        <tr>
          <td>식당 이름</td>
          <td th:text="${store.name}"></td>
        </tr>
        <tr>
          <td>업종</td>
          <td th:text="${store.distinction}"></td>
        </tr>
        <tr>
          <td>리뷰 수</td>
          <td th:text="${store.reviewcnt}"></td>
        </tr>
        <tr>
          <td>도로명 주소</td>
          <td th:text="${store.address1}"></td>
        </tr>
        <tr>
          <td>상세 주소</td>
          <td th:text="${store.address2}"></td>
        </tr>
        <tr>
          <td>영업 시간</td>
          <td th:text="${store.busihours}"></td>
        </tr>
        <tr>
          <td>전화번호</td>
          <td th:text="${store.tel}"></td>
        </tr>
        <tr>
          <td>예약 여부</td>
          <td th:text="${store.reservation}"></td>
        </tr>
        <tr>
          <td>가게 등록 주소</td>
          <td th:text="${store.rsite}"></td>
        </tr>
        <tr>
          <td>지도 페이지 주소</td>
          <td th:text="${store.msite}"></td>
        </tr>
        <tr>
          <td>평점</td>
          <td th:text="${store.rating}"></td>
        </tr>
      </table>

      <div style="text-align: center; margin-top: 20px;">
        <a href="/th/store/update/{storeno}" th:href="@{/th/store/update/{storeno}(storeno=${store.storeno})}" class="btn btn-warning">수정</a>
        <a href="/th/store/delete/{storeno}" th:href="@{/th/store/delete/{storeno}(storeno=${store.storeno})}" class="btn btn-danger">삭제</a>
      </div>
    </div>
  </div>
</html>
